<div class="row">
    <div class="row-xs-12">
        <ul class="list-group">
            <li class="list-group-item">Name: {{ customerItem.firstName}} {{ customerItem.lastName}}</li>
            <li class="list-group-item">customerItem ID: {{ customerItem.customerItemId}} </li>
            <li class="list-group-item">Contact: {{ customerItem.contactNumber}} </li>
            <li class="list-group-item">NIF: {{ customerItem.taxPayerNumber}} </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">AddressID: {{ customerItem.address.addressID}} </li>
            <li class="list-group-item">Address: {{ customerItem.address.streetName}} {{ customerItem.address.doorNumber}}</li>
            <li class="list-group-item">ZipCode: {{ customerItem.address.zipCode}} </li>
            <li class="list-group-item">City: {{ customerItem.address.city}} </li>
            <li class="list-group-item">Country: {{ customerItem.address.country}} </li>
        </ul>
    </div>
</div>
